$background-color: #FFB6C1;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

#map {
  position: absolute;
  height: 100%;
  width: 100%;
}

sidebar {
  margin: 0;
  padding: 16px;
  font-size: 16px;
  max-width: 24em;
  height: 100%;
  overflow: auto;
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FFF;
}

.tooltip {
  position: absolute;
  top: 0;
  left: 0;
}

#tooltip-text {
  margin: 0;
  padding: 16px;
  font-size: 24px;
  background-color: #FFF;
}

.button {
  padding: 8px;
  cursor: pointer;
}