$background-color: #ffb6c1;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Cinzel', serif;
  color: rgb(255, 255, 255);
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.tooltip {
  position: absolute;
  top: 0;
  left: 0;
}

#tooltip-text {
  margin: 16px;
  padding: 16px;
  font-size: 24px;
  background-color: #fff;
  color: #000;
  border-radius: 4px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
}

.button {
  padding: 8px;
  cursor: pointer;
}

.hidden {
  display: none;
}

button {
  padding: 8px;
  background-color: orange;
  border: 0;
}

.welcome {
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 255, 0, 0.25);
}

.bottom-dialog {
  position: absolute;
  bottom: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 128px;
  max-height: 50%;
  padding: 24px;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.bottom-dialog div {
  padding-bottom: 8px;
}

.bottom-dialog button {
  margin: 8px;
}

.hit img {
  max-width: 100%;
}

.bottom-dialog.question {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
}

.bottom-dialog.question .text {
  font-size: 24px;
}

.bottom-dialog.end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  min-height: 100%;
}

.bottom-dialog.end .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px;
}

.bottom-dialog.end .character-name {
  font-size: 24px;
}

.bottom-dialog.end .content .character-message {
  padding-right: 8px;
}

.bottom-dialog.end .content .character-message p {
  margin-top: 0;
}

.bottom-dialog.end .content img {
  max-width: 50%;
  padding-left: 8px;
}

@media all and (min-width: 480px) {
  .welcome {
    background-color: rgba(255, 0, 0, 0.25);
  }
}

@media all and (min-width: 769px) {
  .welcome {
    background-color: rgba(0, 0, 255, 0.25);
  }
}
