$background-color: #ffb6c1;
$yellow: rgb(245, 227, 108);
$dark: rgb(18, 30, 39);
$darka: rgba(18, 30, 39, 0.8);
$cinzel: 'cinzel', serif;
$ornament-s: 58px;
$ornament-m: 96px;
$ornament-l: 128px;
$crown-s: 110px;
$crown-m: 165px;
$crown-l: 220px;
$powered-s: 140px;
$powered-m: 170px;
$powered-l: 200px;

@font-face {
  font-family: 'got';
  src: url('/media/got.ttf');
}

/* Button reset */
button {
  width: auto;
  margin: 0;
  padding: 0;
  overflow: visible;
  color: inherit;
  font: inherit;
  line-height: normal;
  background: transparent;
  border: none;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  color: rgb(255, 255, 255);
  font-family: 'got', 'cinzel', serif;
  letter-spacing: 12px;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
}

#preload {
  display: none;
}

.button {
  padding: 16px 32px;
  color: $dark;
  font-size: 16px;
  font-family: 'got', serif;
  letter-spacing: 2px;
  background: linear-gradient(to right, #bca22b 0%, #fdf175 50%, #bca22b 100%);
  border: 0;
  cursor: pointer;
}

.welcome {
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: $darka;
}

.welcome h1 {
  margin-bottom: 16px;
  color: $yellow;
  font-weight: 200;
  font-size: 40px;
  line-height: 64px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px;
}

.welcome .separator {
  margin-bottom: 24px;
}

.welcome p {
  font-size: 16px;
  color: $yellow;
  letter-spacing: 8px;
  margin-bottom: 32px;
  text-align: center;
  line-height: 32px;
}

.ui {
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ornaments {
  position: absolute;
  z-index: 50;
  width: 100%;
  height: 100%;
}

.ornaments .corner {
  position: absolute;
  width: $ornament-s;
}

.ornaments .top.left {
  top: 0;
  left: 0;
  transform: rotate(180deg);
}

.ornaments .top.right {
  top: 0;
  right: 0;
  transform: rotate(270deg);
}

.ornaments .bottom.right {
  right: 0;
  bottom: 0;
}

.ornaments .bottom.left {
  bottom: 0;
  left: 0;
  transform: rotate(90deg);
}

.ornaments .crown {
  position: absolute;
  top: 0;
  left: calc(50% - #{$crown-s / 2});
  width: $crown-s;
}

.ornaments .bycarto {
  position: absolute;
  bottom: 16px;
  left: calc(50% - #{$powered-s / 2});
  width: $powered-s;
}

.flowers {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.flowers .corner {
  position: absolute;
  width: 16px;
}

.flowers .top.left {
  top: 3px;
  left: 2px;
  transform: rotate(180deg);
}

.flowers .top.right {
  top: 3px;
  right: 2px;
  transform: rotate(270deg);
}

.flowers .bottom.left {
  bottom: 3px;
  left: 2px;
  transform: rotate(90deg);
}

.flowers .bottom.right {
  right: 2px;
  bottom: 3px;
}

.bottom-dialog {
  position: absolute;
  bottom: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 128px;
  padding: 24px;
  overflow-y: auto;
  color: $yellow;
  font-size: 16px;
  font-family: $cinzel;
  line-height: 24px;
  letter-spacing: 2px;
  background-color: $darka;
}

.bottom-dialog div {
  padding-bottom: 8px;
}

.bottom-dialog .button {
  margin: 8px;
}

.hit img.place {
  max-width: 75%;
  max-height: 50%;
  margin: 16px;
  border: 1px solid $yellow;
}

.bottom-dialog.hit .place {
  font-weight: 700;
  font-size: 24px;
}

.bottom-dialog.hit .caption {
  margin-bottom: 8px;
  color: $yellow;
  font-size: 12px;
  line-height: 12px;
  text-decoration: none;
  border-bottom: solid 1px $yellow;
}

.bottom-dialog.fail {
  text-align: center;
}

.bottom-dialog.fail .booh {
  font-size: 24px;
}

.bottom-dialog.question {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
}

.bottom-dialog.question .number {
  width: 100%;
  font-size: 16px;
  text-align: left;
}

.bottom-dialog.question .text {
  width: 100%;
  text-align: left;
}

.bottom-dialog .score {
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 12px;
}

.end-dialog {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  color: $yellow;
  font-size: 16px;
  font-family: $cinzel;
  line-height: 24px;
  letter-spacing: 2px;
  background-color: $darka;
}

.end-dialog .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 24px;
  padding: 0;
}

.end-dialog .points {
  margin-top: 32px;
  margin-bottom: 16px;
  text-align: center;
  line-height: 16px;
}

.end-dialog .character-name {
  margin-bottom: 16px;
  line-height: 24px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

.end-dialog .character-message {
  flex: none;
  padding-right: 8px;
}

.end-dialog p {
  margin-bottom: 12px;
}

.end-dialog .character-message p {
  margin-top: 0;
}

.end-dialog .tweet-text {
  border: 1px solid $yellow;
  min-height: 32px;
  background: #000;
  margin-bottom: 24px;
}

.end-dialog .share {
  text-align: center;
}

.end-dialog .share .tweet-text {
  padding: 24px;
}

.end-dialog .share .twitter-logo {
  display: inline-block;
  vertical-align: middle;
  max-width: 32px;
  max-height: 32px;
  border: none;
  float: none;
  background: none;
  margin: 0;
}

.end-dialog .share .button {
  text-decoration: none;
  width: 100%;
}


.end-dialog img {
  display: block;
  max-width: 40%;
  max-height: 40%;
  margin: 0 auto 12px auto;
  border: 1px solid $yellow;
}

.end-dialog .button {
  margin: 48px 0;
}

.error-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  color: $yellow;
  font-size: 16px;
  font-family: $cinzel;
  line-height: 24px;
  letter-spacing: 2px;
  background-color: $dark;
  text-align: center;
}

@media all and (min-width: 480px) {
  .bottom-dialog {
    padding: 32px;
    overflow-y: auto;
    color: $yellow;
    font-size: 24px;
    font-family: $cinzel;
    line-height: 32px;
    letter-spacing: 2px;
  }

  .bottom-dialog.question .number {
    font-size: 24px;
    text-align: center;
  }

  .bottom-dialog.question .text {
    text-align: center;
  }

  .bottom-dialog .score {
    top: 32px;
    right: 32px;
    font-size: 16px;
  }

  .end-dialog .character-message {
    margin: 32px 0;
    padding: 0;
  }

  .end-dialog img {
    float: right;
    max-width: 40%;
    max-height: 40%;
    margin: 0 0 0 32px;
    border: 1px solid $yellow;
  }

  .ornaments .corner {
    width: $ornament-m;
  }

  .ornaments .crown {
    left: calc(50% - #{$crown-m / 2});
    width: $crown-m;
  }

  .ornaments .bycarto {
    position: absolute;
    bottom: 16px;
    left: calc(50% - #{$powered-m / 2});
    width: $powered-m;
  }

  .flowers .corner {
    position: absolute;
    width: 24px;
  }
}

@media all and (min-width: 769px) {
  .bottom-dialog.question .text {
    max-width: 770px;
    margin: 0 auto;
    text-align: center;
  }

  .end-dialog .content {
    max-width: 770px;
    margin: 0 auto;
  }

  .ornaments .corner {
    width: $ornament-l;
  }

  .ornaments .crown {
    left: calc(50% - #{$crown-l / 2});
    width: $crown-l;
  }

  .ornaments .bycarto {
    position: absolute;
    bottom: 16px;
    left: calc(50% - #{$powered-l / 2});
    width: $powered-l;
  }
}
